html {
  background: url(../images/beautiful-day.jpg) no-repeat top center;
}

img {
  position: relative;
  z-index: 11;
  cursor: pointer;
}

.wrapper {
  position: relative;
  width: 960px;
  height: 100vh;
  margin: 0 auto;
}

#wheelbarrow, #wheelbarrow-foreground {
  margin-left: 80px;
  width: 688px;
  height: 514px;
}

#wheelbarrow { 
  position: relative;
  background: url(../images/wheelbarrow.png) no-repeat;
  z-index: 0;
  top: 220px;
}
#wheelbarrow-foreground {
  pointer-events: none;
  position: absolute;
  background: url(../images/wheelbarrow-foreground.png) no-repeat;
  z-index: 10;
  top: 220px;
}
#kitty5{

  position: absolute;
  top: 150px;
  left: 100px;
}


#basket, #ball {
  display: inline;
  position: absolute;
  top: 275px;
  right: 600px;
}
#kitty1{
  position: absolute ;
  top: 250px ;
  right: 450px;
}
#kitty-2{
position: absolute;
top: 180px;
right: 350px;
}
#ball{
position: absolute ;
top:200px;
right:600px;

}